.card{
    width: 500px; 
    background-color: #2F93EF; 
    color: white;
}
.users{
    font-size: 50px;
}
#hr{
    background-color: white;
}
hr{
    background-color: white;
}
#last-row{
    margin-left: 85px;
}
#afbeelding{
    margin-left: 58px;
}